<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="urTribeWebAPI.Messaging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <urTribeWebAPI.Messaging.Properties.Settings>
            <setting name="RTFAppKey" serializeAs="String">
                <value>rUaRaB</value>
            </setting>
            <setting name="RTFPrivateKey" serializeAs="String">
                <value>O4h7dcnRUIIL</value>
            </setting>
            <setting name="RTFToken" serializeAs="String">
                <value>8c01b1ae-e87e-11e4-a50b-99b8eb024984</value>
            </setting>
            <setting name="RTFCreateURL" serializeAs="String">
                <value>https://storage-backend-prd-useast1.realtime.co/createTable</value>
            </setting>
            <setting name="RTFAuthURL" serializeAs="String">
                <value>https://storage-backend-prd-useast1.realtime.co/authenticate</value>
            </setting>
            <setting name="RTFPutURL" serializeAs="String">
                <value>https://storage-backend-prd-useast1.realtime.co/putItem</value>
            </setting>
            <setting name="RTFCreationSleepTime" serializeAs="String">
                <value>20000</value>
            </setting>
        </urTribeWebAPI.Messaging.Properties.Settings>
    </applicationSettings>
</configuration>