<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="urTribeWebAPI.DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <urTribeWebAPI.DAL.Properties.Settings>
            <setting name="RepositoryMapFileLocation" serializeAs="String">
                <value>RepositoryMap.json</value>
            </setting>
            <setting name="Neo4jLocation" serializeAs="String">
                <value>http://localhost:7474/db/data</value>
            </setting>
        </urTribeWebAPI.DAL.Properties.Settings>
    </applicationSettings>
</configuration>